# ======================
# Python
# ======================
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.eggs/

# ======================
# Virtual Environments
# ======================
venv/
.venv/
env/
ENV/

# ======================
# Environment Variables
# ======================
Pipeline/.env/.env

# ======================
# OS / Editor
# ======================
.DS_Store
Thumbs.db
.vscode/
.idea/

# ======================
# Logs
# ======================
*.log

# ======================
# Data / API Outputs
# ======================
*.json
*.csv

# ======================
# Database / Dumps
# ======================
*.sql.bak
*.dump
*.sqlite
*.db

# ======================
# Temporary / Scratch
# ======================
tmp/
temp/

stats.ipynb

/h.txt


Queries

Pipeline/c_data_clean_up/data_cleanup2.ipynb