

# Database Credentials:
DB_KEY=password
USERNAME=postgres


# API Keys:
PLACES_KEY=adfadsfasdfadsfasdfadfafaFADSFaDSFadsFas
ARGIS_KEY=adFADSFFDAFADSfasdfadsfADSF..ADFADFdfdasfAsdfASDfASDfADSfadFaDGFHJfukJghsHHJdsGFbAfdgfhGShdgShsgh8IcbEqOFE2sfgsdfgUhqFfsgsdgsdfgsdfgsdfgsdfv94U_16tM-w6IiGnyQYqrW5dUHL90J9SyoMF5HsYBoud7gfsdgsdfgsdsdfgsdfgIl
